@charset "UTF-8";
@font-face {
    font-family: "tanuki_chalk";
    src: url("fonts/tanuki_font.woff2") format("woff2");
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #f0f0f0;
}

#container{
    width: 1040px;
    margin: 40px auto;
}


/*---------- ヘッダー ----------*/

/*========== ヘッダー ==========*/



/*---------- スライドショー ----------*/

#Slider{
    width: 100%;
    margin: 32px 0;
    height: 500px;
}
#Slider img{
    height: 500px;
}

/*========== スライドショー ==========*/



/*---------- コンテンツ ----------*/

/*------- 全般 -------*/
#contents{
    background-color: #f0f0f0e0;
    border-radius: 4px 4px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#contents section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 8px solid #111111;
    border-radius: 8px;
    width: 70%;
    margin-bottom: 48px;
    margin: auto;
}
#contents h2{
    text-align: center;
    border-bottom: 8px solid #111111;
    background-color: #dfb554b7;
    border-radius: 4px;
    padding: 8px 8px 6px;
    margin-top: 64px;
}
#contents p{
    font-size: 1em;
    line-height: 1.5em;
    margin: 8px 0;
}
#contents section > :nth-child(2){
    margin-top: 48px;
}
#contents section > :last-child{
    margin-bottom: 48px;
}
/*======= 全般 =======*/


/*------- .note -------*/
.note{
    background-color: #fef8eb;
    border: solid 2px #999999; 
    padding: 0 1em 0 2em;
    position: relative;
}
.note p{
    border-bottom: dashed 1px #cccccc;
    line-height: 1.5;
    padding: 0.5em 0 0.5em 0.5em;
}
.note p:last-of-type{
    border-bottom: none;
}
.note p::before{
    content: "";
    position: absolute;
    border-right: dotted 10px #dddddd;
    height:90%;
    top:0.5em;
    left:0.5em;
}
/*======= .note =======*/


/*------- .spacing -------*/
.spacing{
    opacity: 0;
}
/*======= .spacing =======*/



/*------- 概要 -------*/
#overview{
    position: relative;
}
#overview .note{
    width: 90%;
}
/*======= 概要 =======*/


/*------- 活動場所 -------*/
#place .flame{
    height: 100%;
    padding: 32px 48px 88px;
    position: relative;
}
#place p{
    font-family: "tanuki_chalk";
    color: #ffffff;
    opacity: 0.9;
    font-size: 3em;
    position: relative;
    z-index: 2;
}
#place img{
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
}
/*======= 活動場所 =======*/


/*------- 部員数 -------*/
#club_members .flame{
    position: relative;
    width: 100%;
    padding: 32px 0;
}
#members_box{
    margin: auto;
}
#club_members dl{
    display: flex;
    justify-content: center;
}
#club_members dt,
#club_members dd{
    font-size: 2em;
    line-height: 2em;
    position: relative;
    z-index: 2;
}
#club_members img{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 3em;
}
/*======= 部員数 =======*/


/*------- 週間予定 -------*/
#weekly_schedule table{
    border-collapse: collapse;
    margin: 48px 0;
    background-color: #fdfdfd;
}
#saturday{
    color: #4343c7;
}
#sunday{
    color: #ce4d29;
}
#weekly_schedule table *{
    border: 1px solid #000000;
    text-align: center;
    padding: 0 10px;
    height: 40px;
}
/*======= 週間予定 =======*/


/*------- 年間予定 -------*/
#calender_box{
    width: auto;
}
#yearly_schedule dl{
    width: 100%;
    display: flex;
    background-color: #f0f0f0;
    border: solid 1px #000000;
    border-bottom: none;
}
#yearly_schedule dl:last-child{
    border-bottom: solid 1px #000000;
}
#yearly_schedule dt{
    width: 20%;
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
    padding: 0 1em;
    border-right: solid 1px #000000;
}
#yearly_schedule dd{
    width: 80%;
    margin: auto 0;
    font-size: 1em;
    text-indent: 1em;
}
/*======= 年間予定 =======*/


/*------- 資格について -------*/
#about_qualification mark{
    background: linear-gradient(to bottom,transparent 40%,#ffff00 40% 80%,transparent 80%);
}
/*======= 資格について =======*/


/*------- 目指す資格 -------*/
#target .flame{
    width: auto;
    /* padding: 16px 0 0; */
    position: relative;
}
#target ul{
    background-color: #fef8eb;
    list-style-type: none;
    padding: 16px 0 ;
}
#target li{
    font-size: 1.5em;
    text-indent: 2em;
    position: relative;
    border-bottom: dashed 1px #cccccc;
    line-height: 1.5em;
    padding: 0.5em 0 0.5em 0.5em;
}
#target li::before{
    content: "・";
    position: absolute;
    left: -1em;
}
#target li::after{
    content: "";
    position: absolute;
    border-right: dotted 9px #dddddd;
    height: 90%;
    top: 0;
    left: 8px;
}
#target img{
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
/*======= 目指す資格 =======*/



/*------- 部活紹介動画 -------*/
#PRvideo .flame{
    position: relative;
}
#block_video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fffffff0;
    padding: 10% 0;
    text-align: center;
    display: block;
}

/*======= 部活紹介動画 =======*/

/*========== コンテンツ ==========*/





@media screen and (max-width:1100px) {
    #container{
        width: 100%;
    }
    #container{
        font-size: 2em;
    }
    #contents section{
        width: 100%;
    }
}

/*
@media screen and (max-width:750px) {
    #container{
        width: 100%;
    }
    header p{
        font-size: 2.79em;
    }
    #contents section{
        width: 95%;
    }
}*/